{
  "extends": [
    "eslint:recommended",
    "prettier/@typescript-eslint",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:testcafe/recommended"
  ],
  "plugins": ["react", "@typescript-eslint", "prettier", "testcafe", "import", "react-hooks"],
  "env": {
    "browser": true,
    "jest": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/prefer-interface": 0,
    "react/prop-types": 0,
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "import/order": [
      1,
      {
        "newlines-between": "always",
        "groups": ["builtin", ["external", "internal"], "parent", ["sibling", "index"]]
      }
    ]
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "parser": "@typescript-eslint/parser"
}
